item {
  ion-img{
    height: auto;
    width: auto;
    margin: auto;
    display: block;
  }
  ion-card-header{
    text-align: center;
  }
  .button{
    margin: auto;
    display: block;
  }
  .buttonTime{
    margin-bottom:50px;
  }
}
