<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{this.title}} Menu</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-list *ngIf="displayFoodList">
      <button ion-item *ngFor="let item of foodList" (click)="pushItem(item)">
        <ion-label> {{item.name}}</ion-label>
      </button>
    </ion-list>
    <ion-list *ngIf="displayDrinkList">
      <button ion-item *ngFor="let item of drinkList" (click)="pushItem(item)">
        <ion-label> {{item.name}}</ion-label>
      </button>
    </ion-list>
  </ion-grid>
</ion-content>
