<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{this.title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
        <ion-img width="100" height="100" src="{{this.url}}"></ion-img>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="displayDrinkList">
      <ion-item >
        <ion-label>Kind Of Drink :</ion-label>
        <ion-select [(ngModel)]="drink" interface="popover">
          <ion-option value="blackcoffee">Black Coffee</ion-option>
          <ion-option value="greentea">Green Tea</ion-option>
        </ion-select>
      </ion-item>
    </ion-row>
    <ion-row *ngIf="displayDrinkQuan">
      <ion-item>
        <ion-label>Quantity Of Drinks</ion-label>
        <ion-input type="text" value="" [(ngModel)]="qDrink"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row *ngIf="displayCrosList">
      <ion-item>
        <ion-label>Kind Of Croissant :</ion-label>
        <ion-select [(ngModel)]="crooisant" interface="popover">
          <ion-option value="Butter">Butter</ion-option>
          <ion-option value="Chocolate">Chocolate</ion-option>
        </ion-select>
      </ion-item>
    </ion-row>
    <ion-row *ngIf="displayCrosQuan">
      <ion-item>
        <ion-label>Quantity Of Croissants</ion-label>
        <ion-input type="text" value="" [(ngModel)]="qCross"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-label>PickUp Time :</ion-label>
        <ion-datetime displayFormat="HH:mm:ss" [(ngModel)]="myDate"></ion-datetime>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
        <button ion-button round>Check Time</button>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <button ion-button round float-left (click)="clearOrder">Clear</button>
    <button ion-button round float-right (click)="initOrder()">Submit</button>
  </ion-toolbar>
</ion-footer>
